<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/grid.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/about.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/queries-about.css">
<!--        <link rel="shortcut icon" href="./images/favicon/faveu-favicon.ico" type="image/x-icon">-->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton|Bungee" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="./javascripts/about.js"></script>
        <title>YEN</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <a href="https://www.youthempoweringnation.org"><img src="./images/logo/yen-logo.png" alt="yen logo" class="cls-logo"></a>
                    <ul class="main-nav js--main-div">
                      <li><a href="https://www.youthempoweringnation.org/about" class="cls-eachnav1">About</a></li>
                      <li><a href="https://www.youthempoweringnation.org/mission" class="cls-eachnav2">Mission</a></li>
                      <li><a href="https://www.youthempoweringnation.org/#id-chapter" class="cls-eachnav3">Chapter</a></li>
                      <li><a href="https://www.youthempoweringnation.org/#id-mlocation" class="cls-eachnav4">Mission Location</a></li>
                      <li><a href="https://www.youthempoweringnation.org/donate" class="cls-eachnav5">Donate</a></li>
                      <li class="cls-more"><i class="ion-android-more-vertical"></i></li>
                    </ul>
                    <ul class="main-nav11 js--main-div11" style="display: none;">
                      <li><a href="https://www.youthempoweringnation.org/team" class="cls-subnav1">TEAM</a></li>
                      <li><a href="https://www.youthempoweringnation.org/faq" class="cls-subnav2">FAQ</a></li>
                      <li><a href="https://www.youthempoweringnation.org/contact" class="cls-subnav2">Contact Us</a></li>
                    </ul>
                    <a class="mobile-nav-icon js--mobile-btn"><i class="ion-navicon-round"></i></a>
                </div>
                <div class="row cls-2row">
                    <ul class="main-nav1 js--main-div1" style="display: none;">
                      <li><a href="https://www.youthempoweringnation.org/team" class="cls-subnav1">TEAM</a></li>
                      <li><a href="https://www.youthempoweringnation.org/faq" class="cls-subnav2">FAQ</a></li>
                      <li><a href="https://www.youthempoweringnation.org/contact" class="cls-subnav2">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
            <div class="cls-maintext-box">
                <h1>HAND OUT TO HOLD THEIR HAND</h1>
            </div>
            <div class="cls-heart-div1">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart1"  style="display: none">
            </div>
            <div class="cls-heart-div2">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart2"  style="display: none">
            </div>
            <div class="cls-heart-div3">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart3"  style="display: none">
            </div>
            <div class="cls-heart-div4">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart4"  style="display: none">
            </div>
        </header>

        <section class="section-about js--about">
            <div class="row cls-about-row">
                <h1>YEN stands for Youth Empowering Nation</h1>
                <h1>Non-Profit Organization</h1>
            </div>
        </section>
        <section class="section-about1 js--about1">
            <div class="row cls-about-row1">
                <div class="col span-1-of-2">
                    <img src="./images/about/youth-1.png" alt="youth1" class="cls-youth1">
                </div>
                <div class="col span-1-of-2 cls-secondcol">
                    <h2>Few youth members started YEN in order to reach out to those kids in need in developing countries short after their mission trip to Haiti. Aiding the kids in the mission field, and helping them out of poverty, lack of education, and lack of guidance to future paths are the motivation and inspiration for the creation of YEN. Our youth is the main core of YEN's drive.</h2>
                </div>
            </div>
        </section>
        <section class="section-about2 js--about2">
            <div class="row cls-about-row2">
                <div class="col span-1-of-2 cls-firstcol">
                    <h2>Each YEN chapter in the school is connected to build up the connection with other youth and communicate with other thoughts.</h2>
                </div>
                <div class="col span-1-of-2">
                    <img src="./images/about/youth-2.jpg" alt="youth2" class="cls-youth2">
                </div>
                
            </div>
        </section>
        <section class="section-about3 js--about3">
            <div class="row cls-about-row3">
                <div class="col span-1-of-2">
                    <img src="./images/about/youth-3.jpg" alt="youth3" class="cls-youth3">
                </div>
                <div class="col span-1-of-2 cls-secondcol">
                    <h2>Our youth is inspired to expand our horizon and dreaming big beyond our community and even nation.</h2>
                </div>
            </div>
        </section>
        <section class="section-about4 js--about4">
            <div class="row cls-about-row4">
                <div class="col span-1-of-2 cls-firstcol">
                    <h2>YEN benefits both the youth and the children. Youth benefit as the donor to help a good cause, while children are the recipients of the good cause. It will help both parties to grow as a strong influence on their community and exemplify a good citizen.</h2>
                </div>
                <div class="col span-1-of-2">
                    <img src="./images/about/youth-4.jpg" alt="youth4" class="cls-youth4">
                </div>
                
            </div>
        </section>
        <section class="section-about5 js--about5">
            <div class="row cls-about-row5">
                <div class="col span-1-of-2 cls-firstcol">
                    <h2>YEN is also supported by adult members voluntarily. Adult members help YEN by building up its system and managing its regular-based operations to make YEN a smooth-sailing yet effective.</h2>
                </div>
                <div class="col span-1-of-2">
                    <img src="./images/about/youth-5.jpg" alt="youth4" class="cls-youth4">
                </div>
                
            </div>
        </section>
        <section class="section-about6 js--about6">
            <div class="row cls-about-row6">
                <div class="cls-firstcol">
                    <h2>YEN Main Operations</h2><br>
                    <ul>
                        <li>Recruiting, taking, and processing donations</li>
                        <li>Connecting and matching a donor and a recipient kid in a mission location as 1:1</li>
                        <li>Selecting and managing mission locations and operations</li>
                        <li>Monitoring and distributing if donations flow into right and designated places</li>
                        <li>...</li>
                    </ul>
                </div>
                
            </div>
        </section>
        
        <section class="section-about-donate js--about-donate">
            <div class="cls-about-donate-btn-div0 js--about-donate-btn">
                <div class="cls-about-donate-btn-div1">
                    <h3>Your donation(s) can save and change a kid's life</h3>
                    <a class="btn cls-about-donate-btn" href="https://www.youthempoweringnation.org/donate">DONATE</a>
<!--                    <input type="submit" value="DONATE" class="cls-about-donate-btn">-->
                </div>
            </div>
        </section>

        <footer>
            <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><a href="https://www.youthempoweringnation.org/contact">Contact Us</a></li>
                        <li><a href="https://www.youthempoweringnation.org/termsofuse">Terms of Use</a></li>
                        <li><a href="https://www.youthempoweringnation.org/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-links">
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                        <li><a href=""><i class="ion-social-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p>Copyright &copy; 2017 by Youth Empowering Nation. All Rights Reserved</p>
            </div>
        </footer>
    <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2/dist/jquery.min.js"></script>
    <script src="./javascripts/jquery.waypoints.min.js"></script>
    </body>
</html>
