<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./stylesheets/lightbox.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/grid.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/donate.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/queries-donate.css">
<!--        <link rel="stylesheet" type="text/css" href="./stylesheets/jquery.fancybox.min.css">-->
<!--        <link rel="shortcut icon" href="./images/favicon/faveu-favicon.ico" type="image/x-icon">-->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton|Bungee" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <title>YEN</title>
    </head>
    <body>
        <header class="cls-head-donate">
<!--        <header class="cls-head-donate" style="display:none;">-->
            <nav>
                <div class="row">
                    <a href="https://www.youthempoweringnation.org"><img src="./images/logo/yen-logo.png" alt="yen logo" class="cls-logo"></a>
                    <ul class="main-nav js--main-div">
                      <li><a href="https://www.youthempoweringnation.org/about" class="cls-eachnav1">About</a></li>
                      <li><a href="https://www.youthempoweringnation.org/mission" class="cls-eachnav2">Mission</a></li>
                      <li><a href="https://www.youthempoweringnation.org/#id-chapter" class="cls-eachnav3">Chapter</a></li>
                      <li><a href="https://www.youthempoweringnation.org/#id-mlocation" class="cls-eachnav4">Mission Location</a></li>
                      <li><a href="https://www.youthempoweringnation.org/donate" class="cls-eachnav5">Donate</a></li>
                      <li class="cls-more"><i class="ion-android-more-vertical"></i></li>
                    </ul>
                    <ul class="main-nav11 js--main-div11" style="display: none;">
                      <li><a href="https://www.youthempoweringnation.org/team" class="cls-subnav1">TEAM</a></li>
                      <li><a href="https://www.youthempoweringnation.org/faq" class="cls-subnav2">FAQ</a></li>
                      <li><a href="https://www.youthempoweringnation.org/contact" class="cls-subnav2">Contact Us</a></li>
                    </ul>
                    <a class="mobile-nav-icon js--mobile-btn"><i class="ion-navicon-round"></i></a>
                </div>
                <div class="row cls-2row">
                    <ul class="main-nav1 js--main-div1" style="display: none;">
                      <li><a href="https://www.youthempoweringnation.org/team" class="cls-subnav1">TEAM</a></li>
                      <li><a href="https://www.youthempoweringnation.org/faq" class="cls-subnav2">FAQ</a></li>
                      <li><a href="https://www.youthempoweringnation.org/contact" class="cls-subnav2">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
            <div class="cls-maintext-box">
                <h1>HAND OUT TO HOLD THEIR HAND</h1>
            </div>
            <div class="cls-heart-div1">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart1"  style="display: none">
            </div>
            <div class="cls-heart-div2">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart2"  style="display: none">
            </div>
            <div class="cls-heart-div3">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart3"  style="display: none">
            </div>
            <div class="cls-heart-div4">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart4"  style="display: none">
            </div>
        </header>

        <section class="cls-sec-donate js--donate" id="donate">
<!--        <section class="cls-sec-donate" id="donate" style="display:none;">-->
            <div class="row">
                <h2>DONATION</h2>
            </div>
            <div class="row cls-donate1 js--donate1">
                <div class="col span-1-of-2">
                    <img src="./images/donate/donate1-1.jpg" alt="Donate1">
                </div>
                <div class="col span-1-of-2">
                    <div class="cls-donate-comment1">
                        <p>Your donation is a powerful and valuable to live out the humanity, compassion, and redemption of the Gospel</p>
                    </div>
                </div>
            </div>
            <div class="row cls-donate2 js--donate2">
                <div class="col span-1-of-2">
                    <div class="cls-donate-comment2">
                        <p>Your donation is used to provide children with necessary resources to grow physically, educationally, and spiritually in a healthy way</p>
                    </div>
                </div>
                <div class="col span-1-of-2">
                    <img src="./images/donate/donate2.jpg" alt="Donate2">
                </div>
            </div>
            <div class="cls-donate-btn-div0 js--donate-btn">
                <div class="cls-donate-btn-div1">
                    <input type="submit" value="DONATE" class="cls-donate-btn">
                </div>
                <p>(If you want to stop donating, please contact YEN with donor name)</p>
            </div>

        </section>

        <section class="cls-sec2-donate1" id="id-donate1" style="display:none;">
            <div class="cls-sec2-donate10">
                <div class="col span-1-of-3 cls-firstion">
                    <i class="ion-arrow-left-c icon-donate" style="display:none"></i>
                </div>
                <div class="col span-1-of-3 cls-secondion">
                    <i class="ion-close-round icon-donate"></i>
                </div>
                <div class="col span-1-of-3 cls-thirdion">
                    <i class="ion-arrow-right-c icon-donate"></i>
                </div>
            </div>

            <div class="row cls-sec2-donate11">
                <h2>Donate to YEN</h2>
                <p></p>
            </div>

            <div class="row cls-sec2-donate12 js--sec2-donate12">
                <div class="cls-donate12-div0">
                    <input type="text" name="amount" id="donation-amount" class="donation-amount form-control" placeholder="Amount (>$10)">
<!--                    <input type="number" name="amount" id="donation-amount" class="donation-amount form-control" placeholder="Amount">-->
                </div>
                <div class="cls-donate12-div1">
                    <button class="btn btn-primary turquoise hover-yellow" id="id-creditcard">Credit Card</button>
                </div>
                <div class="cls-donate12-div2">
                    <button class="btn btn-primary turquoise hover-yellow" id="id-bankaccount">Bank Transfer</button>
                </div>
            </div>

            <div class="cls-sec2-donate13 js--sec2-donate13">
                <div class="cls-donate13-div0">
                    <i class="ion-checkmark-circled cls-one"></i>
                    <p class="cls-onetime">One-Time</p>
                </div>
                <div class="cls-donate13-div1">
                    <i class="ion-checkmark-circled cls-mon"></i>
                    <p class="cls-month">Monthly</p>
<!--                    <button class="donation-type selected" id="id-monthly">Monthly</button>-->
                </div>
            </div>
            <div class="cls-sec2-donate131 js--sec2-donate131">
                <div class="cls-donate131-div0">
                    <i class="ion-android-checkbox cls-recipient"></i>
                    <p class="cls-recipient-p1">Get matched with a kid in need? <span class="cls-option-kidmatching">(disabled now)</span></p>
                    <p class="cls-recipient-p2">(At least $360/year($30/month) commitment is required)</p>
                </div>
                <div class="cls-donate131-div1">
                    <i class="ion-android-checkbox cls-other"></i>
                    <p class="cls-recipient-p1">Donate for the school or others in Haiti?</p>
                </div>
            </div>

            <div class="cls-sec2-donate132 js--sec2-donate132">
                <p></p>
            </div>

            <div class="cls-sec2-donate14 js--sec2-donate14">
                <div class="cls-donate14-div0">
                    <h3>Mail-in Donations:</h3>
                    <p>If you would like to help support our children, please make your contribution to YEN. Your donations are tax deductible. We thank you for your contributions!</p>
                </div>
                <div class="cls-donate14-div1">
                    <h3>Please mail your donations to:</h3>
                    <p>Youth Empowering Nation<br>4130 Technology Dr. Fremont, CA 94538</p>
                    <p><b>Thanks and God Bless</b></p>
                </div>
            </div>
        </section>
            <!--        End of Pop-Up Divisions -->

            <!--        Start of 2nd Pop-Up Divisions -->
        <section class="cls-sec2-credit1" id="id-credit1" style="display:none;">
            <div class="cls-sec2-credit10">
                <div class="col span-1-of-3 cls-firstion">
                    <i class="ion-arrow-left-c icon-donate"></i>
                </div>
                <div class="col span-1-of-3 cls-secondion">
                    <i class="ion-close-round icon-donate"></i>
                </div>
                <div class="col span-1-of-3 cls-thirdion">
                    <i class="ion-arrow-right-c icon-donate"></i>
                </div>
            </div>

            <div class="row cls-sec2-credit11">
                <h2>Donate to YEN</h2>
                <p>Credit Card Info</p>
            </div>
            <div class="row cls-sec2-credit12 js--sec2-credit12">
                <div class="cls-credit12-div0">
                    <input type="text" name="name on card" id="name-on-card" class="cls-nameoncard form-control" placeholder="Name on card">
                </div>
                <div class="cls-credit12-div1">
                    <input type="text" name="card number" id="card-number" class="cls-cardnumber form-control" placeholder="Card number">
                </div>
                <div class="cls-credit12-div2">
                    <input type="text" name="expiry date" id="expire-date" class="cls-expire-date form-control" placeholder="Expiry date (mm/yy)">
                    <input type="text" name="CVV" id="cvv" class="cls-cvv form-control" placeholder="CVV">
                    <a href="./images/donate/cvv.png" data-lightbox="image-1" data-title=""><i class="ion-help-circled"></i></a>
                </div>
                <div class="cls-credit12-div3">
                    <input type="text" name="donor name" id="credit-donorname" class="cls-creditdonorname form-control" placeholder="Donor's name (if different from name on card)">
                </div>
                <div class="cls-credit12-div4">
                    <input type="text" name="email" id="credit-email" class="cls-email form-control" placeholder="Donor's email">
                </div>
                <div class="cls-credit12-div5">
                    <p>All fields should be filled up</p>
                </div>
            </div>
        </section>
            <!--        End of 2nd Pop-Up Divisions -->

            <!--        Start of 3rd Pop-Up Divisions -->
        <section class="cls-sec2-credit2" id="id-credit2" style="display:none;">
            <div class="cls-sec2-credit20">
                <div class="col span-1-of-3 cls-firstion">
                    <i class="ion-arrow-left-c icon-donate"></i>
                </div>
                <div class="col span-1-of-3 cls-secondion">
                    <i class="ion-close-round icon-donate"></i>
                </div>
                <div class="col span-1-of-3 cls-thirdion">
                    <i class="ion-arrow-right-c icon-donate"></i>
<!--                    <i class="ion-arrow-right-c icon-donate" style="display:none;"></i>-->
                </div>
            </div>

            <div class="row cls-sec2-credit21">
                <h2>Donate to YEN</h2>
                <p>Credit Card Info</p>
            </div>
            <div class="row cls-sec2-credit22 js--sec2-credit22">

                <div class="cls-credit22-div1">
                    <input type="text" name="address" id="credit-address" class="cls-creditaddress form-control" placeholder="Address">
                </div>
                <div class="cls-credit22-div2">
                    <input type="text" name="city" id="credit-city" class="cls-creditcity form-control" placeholder="City">
                </div>
                <div class="cls-credit22-div3">
                    <input type="text" name="state" id="credit-state" class="cls-creditstate form-control" placeholder="State/Province">
                </div>
                <div class="cls-credit22-div4">
                    <label class="cls-credit-countryselect" for="credit country selector"></label>
                    <select name="Country" class="cls-credit-country" id="id-credit-country">
<!--                    <select name="IATS_PaymentItemInput_Country" class="IATS_PaymentInputField IATS_InputRequired" id="IATS_PaymentItemInput_Country">-->
                        <option value="">Country</option>
                        <option value="US">United States</option>
                        <option value="CA">Canada</option>
                        <option value="GB">United Kingdom</option>
                        <option value="AX">Aaland Islands</option>
                        <option value="AF">Afghanistan</option>
                        <option value="AL">Albania</option>
                        <option value="DZ">Algeria</option>
                        <option value="AS">American Samoa</option>
                        <option value="AD">Andorra</option>
                        <option value="AO">Angola</option>
                        <option value="AI">Anguilla</option>
                        <option value="AQ">Antarctica</option>
                        <option value="AG">Antigua and Barbuda</option>
                        <option value="AR">Argentina</option>
                        <option value="AM">Armenia</option>
                        <option value="AW">Aruba</option>
                        <option value="AU">Australia</option>
                        <option value="AT">Austria</option>
                        <option value="AZ">Azerbaijan</option>
                        <option value="BS">Bahamas</option>
                        <option value="BH">Bahrain</option>
                        <option value="BD">Bangladesh</option>
                        <option value="BB">Barbados</option>
                        <option value="BY">Belarus</option>
                        <option value="BE">Belgium</option>
                        <option value="BZ">Belize</option>
                        <option value="BJ">Benin</option>
                        <option value="BM">Bermuda</option>
                        <option value="BT">Bhutan</option>
                        <option value="BO">Bolivia</option>
                        <option value="BA">Bosnia and Herzegowina</option>
                        <option value="BW">Botswana</option>
                        <option value="BV">Bouvet Island</option>
                        <option value="BR">Brazil</option>
                        <option value="IO">British Indian Ocean Territory</option>
                        <option value="VG">British Virgin Islands</option>
                        <option value="BN">Brunei Darussalam</option>
                        <option value="BG">Bulgaria</option>
                        <option value="BF">Burkina Faso</option>
                        <option value="BI">Burundi</option>
                        <option value="KH">Cambodia</option>
                        <option value="CM">Cameroon</option>
                        <option value="CV">Cape Verde</option>
                        <option value="KY">Cayman Islands</option>
                        <option value="CF">Central African Republic</option>
                        <option value="TD">Chad</option>
                        <option value="CL">Chile</option>
                        <option value="CN">China</option>
                        <option value="CX">Christmas Island</option>
                        <option value="CC">Cocos Islands</option>
                        <option value="CO">Colombia</option>
                        <option value="KM">Comoros</option>
                        <option value="CD">Congo Democratic Republic</option>
                        <option value="CG">Congo Republic</option>
                        <option value="CK">Cook Islands</option>
                        <option value="CR">Costa rica</option>
                        <option value="CI">Cote divoire</option>
                        <option value="HR">Croatia</option>
                        <option value="CU">Cuba</option>
                        <option value="CY">Cyprus</option>
                        <option value="CZ">Czech Republic</option>
                        <option value="DK">Denmark</option>
                        <option value="DJ">Djibouti</option>
                        <option value="DM">Dominica</option>
                        <option value="DO">Dominican Republic</option>
                        <option value="EC">Ecuador</option>
                        <option value="EG">Egypt</option>
                        <option value="SV">El Salvador</option>
                        <option value="GQ">Equatorial Guinea</option>
                        <option value="ER">Eritrea</option>
                        <option value="EE">Estonia</option>
                        <option value="ET">Ethiopia</option>
                        <option value="FK">Falkland Islands</option>
                        <option value="FO">Faroe Islands</option>
                        <option value="BJ">Fiji</option>
                        <option value="FI">Finland</option>
                        <option value="FR">France</option>
                        <option value="GF">French Guiana</option>
                        <option value="PF">French Polynesia</option>
                        <option value="TF">French Southern Territories</option>
                        <option value="GA">Gabon</option>
                        <option value="GM">Gambia</option>
                        <option value="GE">Georgia</option>
                        <option value="DE">Germany</option>
                        <option value="GH">Ghana</option>
                        <option value="GI">Gibraltar</option>
                        <option value="GR">Greece</option>
                        <option value="GL">Greenland</option>
                        <option value="GD">Grenada</option>
                        <option value="GP">Guadeloupe</option>
                        <option value="GU">Guam</option>
                        <option value="GT">Guatemala</option>
                        <option value="GN">Guinea</option>
                        <option value="GW">Guinea-Bissau</option>
                        <option value="GY">Guyana</option>
                        <option value="HT">Haiti</option>
                        <option value="HM">Heard and McDonald Islands</option>
                        <option value="HN">Honduras</option>
                        <option value="HK">Hong Kong</option>
                        <option value="HU">Hungary</option>
                        <option value="IS">Iceland</option>
                        <option value="IN">India</option>
                        <option value="ID">Indonesia</option>
                        <option value="IE">Ireland</option>
                        <option value="IR">Iran</option>
                        <option value="IQ">Iraq</option>
                        <option value="IM">Isle of Man</option>
                        <option value="IL">Israel</option>
                        <option value="IT">Italy</option>
                        <option value="JM">Jamaica</option>
                        <option value="JP">Japan</option>
                        <option value="JO">Jordan</option>
                        <option value="KZ">Kazakhstan</option>
                        <option value="KE">Kenya</option>
                        <option value="KI">Kiribati</option>
                        <option value="KW">Kuwait</option>
                        <option value="KG">Kyrgyzstan</option>
                        <option value="LA">Lao Peoples Democratic Republic</option>
                        <option value="LV">Latvia</option>
                        <option value="LB">Lebanon</option>
                        <option value="LS">Lesotho</option>
                        <option value="LR">Liberia</option>
                        <option value="LY">Libya</option>
                        <option value="LI">Liechtenstein</option>
                        <option value="LT">Lithuania</option>
                        <option value="LU">Luxembourg</option>
                        <option value="MO">Macau</option>
                        <option value="MK">Macedonia</option>
                        <option value="MG">Madagascar</option>
                        <option value="MW">Malawi</option>
                        <option value="MY">Malaysia</option>
                        <option value="MV">Maldives</option>
                        <option value="ML">Mali</option>
                        <option value="MT">Malta</option>
                        <option value="MH">Marshall Islands</option>
                        <option value="MQ">Martinique</option>
                        <option value="MR">Mauritania</option>
                        <option value="MU">Mauritius</option>
                        <option value="YT">Mayotte</option>
                        <option value="MX">Mexico</option>
                        <option value="FM">Micronesia</option>
                        <option value="MD">Moldova</option>
                        <option value="MC">Monaco</option>
                        <option value="MN">Mongolia</option>
                        <option value="MS">Montserrat</option>
                        <option value="MA">Morocco</option>
                        <option value="MZ">Mozambique</option>
                        <option value="MM">Myanmar</option>
                        <option value="NA">Namibia</option>
                        <option value="NL">Netherlands</option>
                        <option value="AN">Netherlands Antilles</option>
                        <option value="NR">Republic of Nauru</option>
                        <option value="NP">Nepal</option>
                        <option value="NC">New Caledonia</option>
                        <option value="NZ">New Zealand</option>
                        <option value="NI">Nicaragua</option>
                        <option value="NE">Niger</option>
                        <option value="NG">Nigeriaada</option>
                        <option value="NU">Niue</option>
                        <option value="NF">Norfolk Island</option>
                        <option value="KP">North Korea</option>
                        <option value="MP">Northern Mariana Islands</option>
                        <option value="NO">Norway</option>
                        <option value="OM">Oman</option>
                        <option value="PK">Pakistan</option>
                        <option value="PW">Palau</option>
                        <option value="PS">Palestinian Territory</option>
                        <option value="PA">Panama</option>
                        <option value="PG">Papua New Guinea</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Peru</option>
                        <option value="PH">Philippines</option>
                        <option value="PN">Pitcairn</option>
                        <option value="PL">Poland</option>
                        <option value="PT">Portugal</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="QA">Qatar</option>
                        <option value="RE">Reunion</option>
                        <option value="RO">Romania</option>
                        <option value="RU">Russian Federation</option>
                        <option value="RW">Rwanda</option>
                        <option value="EH">Sehara, Western</option>
                        <option value="BL">Saint Barthelemy</option>
                        <option value="SH">Saint Helena</option>
                        <option value="KN">Saint Kitts and Nevis</option>
                        <option value="LC">Saint Lucia</option>
                        <option value="MF">Saint Martin</option>
                        <option value="PM">S Pierre &amp; Miquelon</option>
                        <option value="VC">S Vincent &amp; Grenadines</option>
                        <option value="WS">Samoa</option>
                        <option value="SM">San Marino</option>
                        <option value="ST">Sao Tome and Principe</option>
                        <option value="SA">Saudi Arabia</option>
                        <option value="SN">Senegal</option>
                        <option value="RS">Serbia</option>
                        <option value="SC">Seychelles</option>
                        <option value="SL">Sierra Leone</option>
                        <option value="SG">Singapore</option>
                        <option value="SK">Slovakia</option>
                        <option value="SI">Slovenia</option>
                        <option value="SB">Solomon Islands</option>
                        <option value="SO">Somalia</option>
                        <option value="ZA">South Africa</option>
                        <option value="KR">South Korea</option>
                        <option value="GS">S.George &amp; S.Sandwich</option>
                        <option value="ES">Spain</option>
                        <option value="LK">Sri Lanka</option>
                        <option value="SD">Sudan</option>
                        <option value="SR">Suriname</option>
                        <option value="SJ">Svalbard &amp; Jan Mayen Is.</option>
                        <option value="SZ">Swaziland</option>
                        <option value="SE">Sweden</option>
                        <option value="CH">Switzerland</option>
                        <option value="SY">Syrian Arab Republic</option>
                        <option value="TW">Taiwan</option>
                        <option value="TJ">Tajikistan</option>
                        <option value="TZ">Tanzania, United Rep. of</option>
                        <option value="TH">Thailand</option>
                        <option value="TL">Timor-Leste</option>
                        <option value="TG">Togo</option>
                        <option value="TK">Tokelau</option>
                        <option value="TT">Trinidad &amp; Tobago</option>
                        <option value="TN">Tunisia</option>
                        <option value="TR">Turkey</option>
                        <option value="TM">Turkmenistan</option>
                        <option value="TC">Turks and Caicos Islands</option>
                        <option value="TC">Tuvalu</option>
                        <option value="TV">Tuvalu</option>
                        <option value="UG">Uganda</option>
                        <option value="UA">Ukraine</option>
                        <option value="AE">United Arab Emirates</option>
                        <option value="UY">Uruguay</option>
                        <option value="UZ">Uzbekistan</option>
                        <option value="VU">Vanuatu</option>
                        <option value="VE">Venezuela</option>
                        <option value="VN">Viet Nam</option>
                        <option value="EH">Western Sahara</option>
                        <option value="YE">Yemen</option>
                        <option value="ZM">Zambia</option>
                        <option value="ZW">Zimbabwe</option>
                    </select>
<!--                    <label class="IATS_PaymentLabelOnLeft IATS_InputRequired" for="IATS_PaymentItemInput_Country">Country  *</label>-->
<!--                    <input type="text" name="country" id="credit_country" class="cls-creditcountry form-control" placeholder="Country">-->
                </div>
                <div class="cls-credit22-div5">
                    <input type="text" name="zipcode" id="credit-zipcode" class="cls-creditzipcode form-control" placeholder="Zip code">
                </div>
                <div class="cls-credit22-div6">
                    <input type="text" name="phone" id="credit-phone" class="cls-creditphone form-control" placeholder="Phone">
                </div>
                <div class="cls-credit22-div7">
                    <p>All fields should be filled up</p>
                </div>
                <div class="cls-donate-credit-div0 js--donate-credit">
                    <div class="cls-donate-credit-div1">
                        <input type="submit" value="SUBMIT" class="cls-donate-credit">
                    </div>
                </div>
            </div>
        </section>
        <!--        End of 3rd Pop-Up Divisions -->

        <!--        Start of 2nd Pop-Up Bank Divisions -->
        <section class="cls-sec2-bank1" id="id-bank1" style="display:none;">
            <div class="cls-sec2-bank10">
                <div class="col span-1-of-3 cls-firstion">
                    <i class="ion-arrow-left-c icon-donate"></i>
                </div>
                <div class="col span-1-of-3 cls-secondion">
                    <i class="ion-close-round icon-donate"></i>
                </div>
                <div class="col span-1-of-3 cls-thirdion">
                    <i class="ion-arrow-right-c icon-donate"></i>
                </div>
            </div>

            <div class="row cls-sec2-bank11">
                <h2>Donate to YEN</h2>
                <p>Bank Info</p>
            </div>
            <div class="row cls-sec2-bank12 js--sec2-bank12">
                <div class="cls-bank12-div0">
                    <input type="text" name="name on bank" id="name-on-bank" class="cls-nameonbank form-control" placeholder="Name on bank account">
                </div>
                <div class="cls-bank12-div1">
                    <input type="text" name="bank name" id="bank-name" class="cls-bankname form-control" placeholder="Bank name">
                </div>
                <div class="cls-bank12-div2">
                    <input type="text" name="bank account" id="bank-account" class="cls-bankaccount form-control" placeholder="Bank account">
                </div>
                <div class="cls-bank12-div3">
                    <input type="text" name="donor name" id="bank-donorname" class="cls-bankdonorname form-control" placeholder="Donor's name (if different from name on bank)">
                </div>
                <div class="cls-bank12-div4">
                    <input type="text" name="email" id="bank-email" class="cls-bankemail form-control" placeholder="Donor's email">
                </div>
                <div class="cls-bank12-div5">
                    <p>All fields should be filled up</p>
                </div>
            </div>
        </section>
        <!--        End of 2nd Pop-Up Bank Divisions -->

        <!--        Start of 3rd Pop-Up Bank Divisions -->
        <section class="cls-sec2-bank2" id="id-bank2" style="display:none;">
            <div class="cls-sec2-bank20">
                <div class="col span-1-of-3 cls-firstion">
                    <i class="ion-arrow-left-c icon-donate"></i>
                </div>
                <div class="col span-1-of-3 cls-secondion">
                    <i class="ion-close-round icon-donate"></i>
                </div>
                <div class="col span-1-of-3 cls-thirdion">
                    <i class="ion-arrow-right-c icon-donate"></i>
                </div>
            </div>

            <div class="row cls-sec2-bank21">
                <h2>Donate to YEN</h2>
                <p>Bank Info</p>
            </div>
            <div class="row cls-sec2-bank22 js--sec2-bank22">

                <div class="cls-bank22-div1">
                    <input type="text" name="address" id="bank-address" class="cls-bankaddress form-control" placeholder="Address">
                </div>
                <div class="cls-bank22-div2">
                    <input type="text" name="city" id="bank-city" class="cls-bankcity form-control" placeholder="City">
                </div>
                <div class="cls-bank22-div3">
                    <input type="text" name="state" id="bank-state" class="cls-bankstate form-control" placeholder="State/Province">
                </div>
                <div class="cls-bank22-div4">
                    <label class="cls-bank-countryselect" for="bank country selector"></label>
                    <select name="Country" class="cls-bank-country" id="id-bank-country">
                        <option value="">Country</option>
                        <option value="US">United States</option>
                        <option value="CA">Canada</option>
                        <option value="GB">United Kingdom</option>
                        <option value="AX">Aaland Islands</option>
                        <option value="AF">Afghanistan</option>
                        <option value="AL">Albania</option>
                        <option value="DZ">Algeria</option>
                        <option value="AS">American Samoa</option>
                        <option value="AD">Andorra</option>
                        <option value="AO">Angola</option>
                        <option value="AI">Anguilla</option>
                        <option value="AQ">Antarctica</option>
                        <option value="AG">Antigua and Barbuda</option>
                        <option value="AR">Argentina</option>
                        <option value="AM">Armenia</option>
                        <option value="AW">Aruba</option>
                        <option value="AU">Australia</option>
                        <option value="AT">Austria</option>
                        <option value="AZ">Azerbaijan</option>
                        <option value="BS">Bahamas</option>
                        <option value="BH">Bahrain</option>
                        <option value="BD">Bangladesh</option>
                        <option value="BB">Barbados</option>
                        <option value="BY">Belarus</option>
                        <option value="BE">Belgium</option>
                        <option value="BZ">Belize</option>
                        <option value="BJ">Benin</option>
                        <option value="BM">Bermuda</option>
                        <option value="BT">Bhutan</option>
                        <option value="BO">Bolivia</option>
                        <option value="BA">Bosnia and Herzegowina</option>
                        <option value="BW">Botswana</option>
                        <option value="BV">Bouvet Island</option>
                        <option value="BR">Brazil</option>
                        <option value="IO">British Indian Ocean Territory</option>
                        <option value="VG">British Virgin Islands</option>
                        <option value="BN">Brunei Darussalam</option>
                        <option value="BG">Bulgaria</option>
                        <option value="BF">Burkina Faso</option>
                        <option value="BI">Burundi</option>
                        <option value="KH">Cambodia</option>
                        <option value="CM">Cameroon</option>
                        <option value="CV">Cape Verde</option>
                        <option value="KY">Cayman Islands</option>
                        <option value="CF">Central African Republic</option>
                        <option value="TD">Chad</option>
                        <option value="CL">Chile</option>
                        <option value="CN">China</option>
                        <option value="CX">Christmas Island</option>
                        <option value="CC">Cocos Islands</option>
                        <option value="CO">Colombia</option>
                        <option value="KM">Comoros</option>
                        <option value="CD">Congo Democratic Republic</option>
                        <option value="CG">Congo Republic</option>
                        <option value="CK">Cook Islands</option>
                        <option value="CR">Costa rica</option>
                        <option value="CI">Cote divoire</option>
                        <option value="HR">Croatia</option>
                        <option value="CU">Cuba</option>
                        <option value="CY">Cyprus</option>
                        <option value="CZ">Czech Republic</option>
                        <option value="DK">Denmark</option>
                        <option value="DJ">Djibouti</option>
                        <option value="DM">Dominica</option>
                        <option value="DO">Dominican Republic</option>
                        <option value="EC">Ecuador</option>
                        <option value="EG">Egypt</option>
                        <option value="SV">El Salvador</option>
                        <option value="GQ">Equatorial Guinea</option>
                        <option value="ER">Eritrea</option>
                        <option value="EE">Estonia</option>
                        <option value="ET">Ethiopia</option>
                        <option value="FK">Falkland Islands</option>
                        <option value="FO">Faroe Islands</option>
                        <option value="BJ">Fiji</option>
                        <option value="FI">Finland</option>
                        <option value="FR">France</option>
                        <option value="GF">French Guiana</option>
                        <option value="PF">French Polynesia</option>
                        <option value="TF">French Southern Territories</option>
                        <option value="GA">Gabon</option>
                        <option value="GM">Gambia</option>
                        <option value="GE">Georgia</option>
                        <option value="DE">Germany</option>
                        <option value="GH">Ghana</option>
                        <option value="GI">Gibraltar</option>
                        <option value="GR">Greece</option>
                        <option value="GL">Greenland</option>
                        <option value="GD">Grenada</option>
                        <option value="GP">Guadeloupe</option>
                        <option value="GU">Guam</option>
                        <option value="GT">Guatemala</option>
                        <option value="GN">Guinea</option>
                        <option value="GW">Guinea-Bissau</option>
                        <option value="GY">Guyana</option>
                        <option value="HT">Haiti</option>
                        <option value="HM">Heard and McDonald Islands</option>
                        <option value="HN">Honduras</option>
                        <option value="HK">Hong Kong</option>
                        <option value="HU">Hungary</option>
                        <option value="IS">Iceland</option>
                        <option value="IN">India</option>
                        <option value="ID">Indonesia</option>
                        <option value="IE">Ireland</option>
                        <option value="IR">Iran</option>
                        <option value="IQ">Iraq</option>
                        <option value="IM">Isle of Man</option>
                        <option value="IL">Israel</option>
                        <option value="IT">Italy</option>
                        <option value="JM">Jamaica</option>
                        <option value="JP">Japan</option>
                        <option value="JO">Jordan</option>
                        <option value="KZ">Kazakhstan</option>
                        <option value="KE">Kenya</option>
                        <option value="KI">Kiribati</option>
                        <option value="KW">Kuwait</option>
                        <option value="KG">Kyrgyzstan</option>
                        <option value="LA">Lao Peoples Democratic Republic</option>
                        <option value="LV">Latvia</option>
                        <option value="LB">Lebanon</option>
                        <option value="LS">Lesotho</option>
                        <option value="LR">Liberia</option>
                        <option value="LY">Libya</option>
                        <option value="LI">Liechtenstein</option>
                        <option value="LT">Lithuania</option>
                        <option value="LU">Luxembourg</option>
                        <option value="MO">Macau</option>
                        <option value="MK">Macedonia</option>
                        <option value="MG">Madagascar</option>
                        <option value="MW">Malawi</option>
                        <option value="MY">Malaysia</option>
                        <option value="MV">Maldives</option>
                        <option value="ML">Mali</option>
                        <option value="MT">Malta</option>
                        <option value="MH">Marshall Islands</option>
                        <option value="MQ">Martinique</option>
                        <option value="MR">Mauritania</option>
                        <option value="MU">Mauritius</option>
                        <option value="YT">Mayotte</option>
                        <option value="MX">Mexico</option>
                        <option value="FM">Micronesia</option>
                        <option value="MD">Moldova</option>
                        <option value="MC">Monaco</option>
                        <option value="MN">Mongolia</option>
                        <option value="MS">Montserrat</option>
                        <option value="MA">Morocco</option>
                        <option value="MZ">Mozambique</option>
                        <option value="MM">Myanmar</option>
                        <option value="NA">Namibia</option>
                        <option value="NL">Netherlands</option>
                        <option value="AN">Netherlands Antilles</option>
                        <option value="NR">Republic of Nauru</option>
                        <option value="NP">Nepal</option>
                        <option value="NC">New Caledonia</option>
                        <option value="NZ">New Zealand</option>
                        <option value="NI">Nicaragua</option>
                        <option value="NE">Niger</option>
                        <option value="NG">Nigeriaada</option>
                        <option value="NU">Niue</option>
                        <option value="NF">Norfolk Island</option>
                        <option value="KP">North Korea</option>
                        <option value="MP">Northern Mariana Islands</option>
                        <option value="NO">Norway</option>
                        <option value="OM">Oman</option>
                        <option value="PK">Pakistan</option>
                        <option value="PW">Palau</option>
                        <option value="PS">Palestinian Territory</option>
                        <option value="PA">Panama</option>
                        <option value="PG">Papua New Guinea</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Peru</option>
                        <option value="PH">Philippines</option>
                        <option value="PN">Pitcairn</option>
                        <option value="PL">Poland</option>
                        <option value="PT">Portugal</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="QA">Qatar</option>
                        <option value="RE">Reunion</option>
                        <option value="RO">Romania</option>
                        <option value="RU">Russian Federation</option>
                        <option value="RW">Rwanda</option>
                        <option value="EH">Sehara, Western</option>
                        <option value="BL">Saint Barthelemy</option>
                        <option value="SH">Saint Helena</option>
                        <option value="KN">Saint Kitts and Nevis</option>
                        <option value="LC">Saint Lucia</option>
                        <option value="MF">Saint Martin</option>
                        <option value="PM">S Pierre &amp; Miquelon</option>
                        <option value="VC">S Vincent &amp; Grenadines</option>
                        <option value="WS">Samoa</option>
                        <option value="SM">San Marino</option>
                        <option value="ST">Sao Tome and Principe</option>
                        <option value="SA">Saudi Arabia</option>
                        <option value="SN">Senegal</option>
                        <option value="RS">Serbia</option>
                        <option value="SC">Seychelles</option>
                        <option value="SL">Sierra Leone</option>
                        <option value="SG">Singapore</option>
                        <option value="SK">Slovakia</option>
                        <option value="SI">Slovenia</option>
                        <option value="SB">Solomon Islands</option>
                        <option value="SO">Somalia</option>
                        <option value="ZA">South Africa</option>
                        <option value="KR">South Korea</option>
                        <option value="GS">S.George &amp; S.Sandwich</option>
                        <option value="ES">Spain</option>
                        <option value="LK">Sri Lanka</option>
                        <option value="SD">Sudan</option>
                        <option value="SR">Suriname</option>
                        <option value="SJ">Svalbard &amp; Jan Mayen Is.</option>
                        <option value="SZ">Swaziland</option>
                        <option value="SE">Sweden</option>
                        <option value="CH">Switzerland</option>
                        <option value="SY">Syrian Arab Republic</option>
                        <option value="TW">Taiwan</option>
                        <option value="TJ">Tajikistan</option>
                        <option value="TZ">Tanzania, United Rep. of</option>
                        <option value="TH">Thailand</option>
                        <option value="TL">Timor-Leste</option>
                        <option value="TG">Togo</option>
                        <option value="TK">Tokelau</option>
                        <option value="TT">Trinidad &amp; Tobago</option>
                        <option value="TN">Tunisia</option>
                        <option value="TR">Turkey</option>
                        <option value="TM">Turkmenistan</option>
                        <option value="TC">Turks and Caicos Islands</option>
                        <option value="TC">Tuvalu</option>
                        <option value="TV">Tuvalu</option>
                        <option value="UG">Uganda</option>
                        <option value="UA">Ukraine</option>
                        <option value="AE">United Arab Emirates</option>
                        <option value="UY">Uruguay</option>
                        <option value="UZ">Uzbekistan</option>
                        <option value="VU">Vanuatu</option>
                        <option value="VE">Venezuela</option>
                        <option value="VN">Viet Nam</option>
                        <option value="EH">Western Sahara</option>
                        <option value="YE">Yemen</option>
                        <option value="ZM">Zambia</option>
                        <option value="ZW">Zimbabwe</option>
                    </select>
<!--                <input type="text" name="country" id="credit_country" class="cls-creditcountry form-control" placeholder="Country">-->
                </div>
                <div class="cls-bank22-div5">
                    <input type="text" name="zipcode" id="bank-zipcode" class="cls-bankzipcode form-control" placeholder="Zip code">
                </div>
                <div class="cls-bank22-div6">
                    <input type="text" name="phone" id="bank-phone" class="cls-bankphone form-control" placeholder="Phone">
                </div>
                <div class="cls-bank22-div7">
                    <p>All fields should be filled up</p>
                </div>
                <div class="cls-donate-bank-div0 js--donate-bank">
                    <div class="cls-donate-bank-div1">
                        <input type="submit" value="SUBMIT" class="cls-donate-bank">
                    </div>
                </div>
            </div>
        </section>
        <!--        End of 3rd Pop-Up Divisions -->

        <!--        Start of Thank Pop-Up Divisions -->
<!--        <section class="cls-sec2-thank" id="id-thank">-->
<!--        <section class="cls-sec2-thank" id="id-thank">-->
        <section class="cls-sec2-thank" id="id-thank" style="display:none;">
            <div class="cls-sec2-thank10">
                <h2>Thank you for your donation!</h2>
                <i class="ion-happy icon-thank"></i>
                <h2>God bless you</h2>
            </div>

            <!-- <div id="id-loader-donatedone" style="display:none;"></div> -->

            <div class="cls-donate-done-btn-div0" style="display:none;">
                <h3>Are you ready to find your child?</h3>
                <div class="cls-donate-done-btn-div00">
                    <a class="btn cls-donate-done-match-btn" href="https://www.youthempoweringnation.org/match#!/">Find your child</a>
                </div>
                <div class="cls-donate-done-btn-div01">
                    <a class="btn cls-donate-done-skip-btn" href="https://www.youthempoweringnation.org/donate">Skip</a>
                    <p class="cls-skip-p">(YEN makes a match for you)</p>
                </div>
            </div>
        </section>
        <!--        End of Thnak Pop-Up Divisions -->

        <footer class="cls-foot-donate">
<!--        <footer class="cls-foot-donate" style="display:none;">-->
            <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><a href="https://www.youthempoweringnation.org/contact">Contact Us</a></li>
                        <li><a href="https://www.youthempoweringnation.org/termsofuse">Terms of Use</a></li>
                        <li><a href="https://www.youthempoweringnation.org/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-links">
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                        <li><a href=""><i class="ion-social-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p>Copyright &copy; 2017 by Youth Empowering Nation. All Rights Reserved</p>
            </div>
        </footer>


    <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2/dist/jquery.min.js"></script>
    <script src="./javascripts/jquery.creditCardValidator.js"></script>
    <script src="./javascripts/jquery.creditExpiryDateValidate.js"></script>
    <script src="./javascripts/jquery.waypoints.min.js"></script>
    <script src="./javascripts/lightbox.js"></script>
    <script src="./javascripts/donate.js"></script>
    </body>
</html>
