<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/grid.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/faq.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/queries-faq.css">
<!--        <link rel="shortcut icon" href="./images/favicon/faveu-favicon.ico" type="image/x-icon">-->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton|Bungee" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="./javascripts/faq.js"></script>
        <title>YEN</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <a href="https://www.youthempoweringnation.org"><img src="./images/logo/yen-logo.png" alt="yen logo" class="cls-logo"></a>
                    <ul class="main-nav js--main-div">
                      <li><a href="https://www.youthempoweringnation.org/about" class="cls-eachnav1">About</a></li>
                      <li><a href="https://www.youthempoweringnation.org/mission" class="cls-eachnav2">Mission</a></li>
                      <li><a href="https://www.youthempoweringnation.org/#id-chapter" class="cls-eachnav3">Chapter</a></li>
                      <li><a href="https://www.youthempoweringnation.org/#id-mlocation" class="cls-eachnav4">Mission Location</a></li>
                      <li><a href="https://www.youthempoweringnation.org/donate" class="cls-eachnav5">Donate</a></li>
                      <li class="cls-more"><i class="ion-android-more-vertical"></i></li>
                    </ul>
                    <ul class="main-nav11 js--main-div11" style="display: none;">
                      <li><a href="https://www.youthempoweringnation.org/team" class="cls-subnav1">TEAM</a></li>
                      <li><a href="https://www.youthempoweringnation.org/faq" class="cls-subnav2">FAQ</a></li>
                      <li><a href="https://www.youthempoweringnation.org/contact" class="cls-subnav2">Contact Us</a></li>
                    </ul>
                    <a class="mobile-nav-icon js--mobile-btn"><i class="ion-navicon-round"></i></a>
                </div>
                <div class="row cls-2row">
                    <ul class="main-nav1 js--main-div1" style="display: none;">
                      <li><a href="https://www.youthempoweringnation.org/team" class="cls-subnav1">TEAM</a></li>
                      <li><a href="https://www.youthempoweringnation.org/faq" class="cls-subnav2">FAQ</a></li>
                      <li><a href="https://www.youthempoweringnation.org/contact" class="cls-subnav2">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
            <div class="cls-maintext-box">
                <h1>HAND OUT TO HOLD THEIR HAND</h1>
            </div>
            <div class="cls-heart-div1">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart1"  style="display: none">
            </div>
            <div class="cls-heart-div2">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart2"  style="display: none">
            </div>
            <div class="cls-heart-div3">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart3"  style="display: none">
            </div>
            <div class="cls-heart-div4">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart4"  style="display: none">
            </div>
        </header>

        <section class="section-faq js--faq">
            <div class="row">
                <h2>Frequently Asked Questions</h2>
            </div>
        </section>
        <section class="section-faq1 js--faq1">
            <div class="row">
                <h2>What is the Main Purpose of YEN?</h2>
            </div>
            <div class="row">
                <p>The main purpose of YEN is very similar to those of 'World Vision: Sponsor a Child' and 'Compassion International: Sponsor a Child.' However, the biggest difference is that YEN is mainly geared up from youth, while the two organizations are geared up from various ages, in fact, mainly adults. YEN strives to expand our boundaries and limitations beyond our community and nation. We hope to expose the youth to this charity activities and empower them through our organization.</p>
            </div>
        </section>
        <section class="section-faq2 js--faq2">
            <div class="row">
                <h2>Is Youth Driving YEN?</h2>
            </div>
            <div class="row">
                <p>Not exactly, the main and whole YEN operations are run by adult members. However, the youth members are responsible for the creation of YEN and its ideas. The adult members, assisted them in creating the ideas into reality.</p>
            </div>
        </section>
        <section class="section-faq3 js--faq3">
            <div class="row">
                <h2>Is Haiti the Only Mission Location for YEN</h2>
            </div>
            <div class="row">
                <p>Yes, at this point, Haiti is the only country YEN is working with. However, YEN does not want to limit ourselves and reach our wings to other countries that need youth empowerment. Wherever the poverty, lack of education, and no-guidance for the youth, we want to be there." YEN is ready and excited to expand our wings to reach more youth and to empower them.</p>
            </div>
        </section>
        <section class="section-faq4 js--faq4">
            <div class="row">
                <h2>Are Youth the Only Ones Allowed to Participate in YEN and/or to Make Donations?</h2>
            </div>
            <div class="row">
                <p>Absolutely not. YEN welcomes and is open to anyone who have willing hearts to help to make changes in the youth and to help those in need in developing countries. Basically anyone is welcome in donation and as donor. But YEN expects that the majority of donors and donations comes from youth group as the name of "YEN" indicates.</p>
            </div>
        </section>
        <section class="section-faq5 js--faq5">
            <div class="row">
                <h2>What Kind of Benefits Does Youth Get by Joining YEN?</h2>
            </div>
            <div class="row">
                <p>As "about" section in the YEN webiste indicates, youth can build up good and positive quality of character. Furthermore, youth can build up a good leadership by funding or participating the YEN club in the school. YEN has a feature to make a big network among YEN clubs in the school. Through this network, youth can make bigger friend network to grow strong as a good citizen.</p>
            </div>
        </section>
        <section class="section-faq6 js--faq6">
            <div class="row">
                <h2>How Can Youth Members Interested in YEN Start a Club at Their School?</h2>
            </div>
            <div class="row">
                <p>It depends on each school. Please talk with school staff to found YEN club. And then let us know about your YEN club. If your club has any social media account about YEN, please let us know to make a connection thru YEN website for YEN club network.</p>
            </div>
        </section>

        <footer>
            <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><a href="https://www.youthempoweringnation.org/contact">Contact Us</a></li>
                        <li><a href="https://www.youthempoweringnation.org/termsofuse">Terms of Use</a></li>
                        <li><a href="https://www.youthempoweringnation.org/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-links">
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                        <li><a href=""><i class="ion-social-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p>Copyright &copy; 2017 by Youth Empowering Nation. All Rights Reserved</p>
            </div>
        </footer>
    <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2/dist/jquery.min.js"></script>
    <script src="./javascripts/jquery.waypoints.min.js"></script>
    </body>
</html>
