<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/grid.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/haiti.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/queries-mlocation.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton|Bungee" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/javascripts/haiti.js"></script>
        <title>YEN</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <a href="https://www.youthempoweringnation.org"><img src="/images/logo/yen-logo.png" alt="yen logo" class="cls-logo"></a>
                    <ul class="main-nav js--main-div">
                      <li><a href="https://www.youthempoweringnation.org/about" class="cls-eachnav1">About</a></li>
                      <li><a href="https://www.youthempoweringnation.org/mission" class="cls-eachnav2">Mission</a></li>
                      <li><a href="https://www.youthempoweringnation.org/#id-chapter" class="cls-eachnav3">Chapter</a></li>
                      <li><a href="https://www.youthempoweringnation.org/#id-mlocation" class="cls-eachnav4">Mission Location</a></li>
                      <li><a href="https://www.youthempoweringnation.org/donate" class="cls-eachnav5">Donate</a></li>
                      <li class="cls-more"><i class="ion-android-more-vertical"></i></li>
                    </ul>
                    <ul class="main-nav11 js--main-div11" style="display: none;">
                      <li><a href="https://www.youthempoweringnation.org/team" class="cls-subnav1">TEAM</a></li>
                      <li><a href="https://www.youthempoweringnation.org/faq" class="cls-subnav2">FAQ</a></li>
                      <li><a href="https://www.youthempoweringnation.org/contact" class="cls-subnav2">Contact Us</a></li>
                    </ul>
                    <a class="mobile-nav-icon js--mobile-btn"><i class="ion-navicon-round"></i></a>
                </div>
                <div class="row cls-2row">
                    <ul class="main-nav1 js--main-div1" style="display: none;">
                      <li><a href="https://www.youthempoweringnation.org/team" class="cls-subnav1">TEAM</a></li>
                      <li><a href="https://www.youthempoweringnation.org/faq" class="cls-subnav2">FAQ</a></li>
                      <li><a href="https://www.youthempoweringnation.org/contact" class="cls-subnav2">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
            <div class="cls-maintext-box">
                <h1>HAND OUT TO HOLD THEIR HAND</h1>
            </div>
            <div class="cls-heart-div1">
                <img src="/images/mainpage/heart.png" alt="heart" class="cls-heart1"  style="display: none">
            </div>
            <div class="cls-heart-div2">
                <img src="/images/mainpage/heart.png" alt="heart" class="cls-heart2"  style="display: none">
            </div>
            <div class="cls-heart-div3">
                <img src="/images/mainpage/heart.png" alt="heart" class="cls-heart3"  style="display: none">
            </div>
            <div class="cls-heart-div4">
                <img src="/images/mainpage/heart.png" alt="heart" class="cls-heart4"  style="display: none">
            </div>
        </header>

        <section class="section-mlocation js--mlocation">
            <div class="row cls-mlocation-row0">
                <h2>HAITI</h2>
            </div>
            <div class="row cls-mlocation-row1">
                <div class="col span-1-of-4">
                    <p> Officially the Republic of Haiti and formerly called Hayti is a sovereign state located on the island of Hispaniola in the Greater Antilles archipelago of the Caribbean Sea.</p>
                </div>
                <div class="col span-1-of-4">
                    <p>Haiti is 27,750 square kilometres (10,714 sq mi) in size and has an estimated 10.8 million people, making it the most populous country in the Caribbean Community and the second-most populous country in the Caribbean as a whole.</p>
                </div>
                <div class="col span-1-of-4">
                    <p>The poorest country in the Americas and the 3rd poorest country in the world, Majority of Haiti’s 10 million people live on less than $3 a day.</p>
                </div>
                <div class="col span-1-of-4">
                    <p>Roughly three-quarters of Haitians are either unemployed or trying to make ends meet in the informal economy and 75% of Haiti’s people live in abject poverty.</p>
                </div>
            </div>
        </section>
        
        <section class="section-mlocation1 js--mlocation1">
            <div class="row cls-mlocation1-row0">
                <h2>HAITI CHILDREN</h2>
            </div>
            <div class="row cls-mlocation1-row1">
                <div class="col span-1-of-4">
                    <p>There are very few public schools in Haiti. Most schools are private and parents must pay for them. The schools may not have running water or toilets. They may not have enough books or even qualified teachers. Many children never learn to read</p>
                </div>
                <div class="col span-1-of-4">
                    <p>Haiti has the highest infant mortality rate in the Americas: Preventable illnesses, such as cholera, tuberculosis and pneumonia are the main causes of deaths in children. Around 100,000 Haitian children aged between 0-17 have lost parental care because of AIDS.</p>
                </div>
                <div class="col span-1-of-4">
                    <p>Only one in five children starts secondary school. Many drop out of school in order to work. According to the United Nations, roughly 300,000 children in Haiti work in conditions similar to slavery.</p>
                </div>
                <div class="col span-1-of-4">
                    <p>After Hurricane Matthew in 2016, an additional 130,000 children were out of school and 10,000 children were in need of protection from exploitation and abuse.</p>
                </div>
            </div>
        </section>
        
        <section class="section-mlocation2 js--mlocation2">
            <ul class="mlocation2-showcase clearfix">
                <li>
                    <figure class="mlocation2-photo">
                        <img src="/images/missionlocation/haiti/haiti-6.jpg" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="mlocation2-photo">
                        <img src="/images/missionlocation/haiti/haiti-14.jpg" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="mlocation2-photo">
                        <img src="/images/missionlocation/haiti/haiti-1.jpg" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="mlocation2-photo">
                        <img src="/images/missionlocation/haiti/haiti-8.jpg" alt="">
                    </figure>
                </li>
            </ul>
            <ul class="mlocation2-showcase clearfix">
                <li>
                    <figure class="mlocation2-photo">
                        <img src="/images/missionlocation/haiti/haiti-18.jpg" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="mlocation2-photo">
                        <img src="/images/missionlocation/haiti/haiti-20.jpg" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="mlocation2-photo">
                        <img src="/images/missionlocation/haiti/haiti-13.jpg" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="mlocation2-photo">
                        <img src="/images/missionlocation/haiti/haiti-22.jpg" alt="">
                    </figure>
                </li>
            </ul>
        </section>
        
        
        <section class="section-mlocation3 js--mlocation3">
            <div class="row cls-mlocation3-row0">
                <h2>MISSION</h2>
            </div>
        </section>
        <section class="section-submlocation3 js--submlocation3">
            <div class="row cls-submlocation3-row0">
                <div class="col span-1-of-3">
                    <img src="/images/missionlocation/haiti/haiti-3-sqr.jpg" alt="haiti1" class="cls-haiti1">
                </div>
                <div class="col span-1-of-3 cls-secondcol">
                    <p>Short-term projects in Reuben village</p>
                    <ul>
                        <li>Most mission activities toward Institution Mixte Bossuet Lexius</li>
                        <li>School supplies for students</li>
                        <li>School uniform (Approx. 120)</li>
                    </ul>
                </div>
                <div class="col span-1-of-3 cls-thirdcol">
                    <ul>
                        <li>Supply school books for year 2018</li>
                        <li>Plan to open vocation learning school for graduate students (after 6th grade)</li>
                        <li>Continue "One mean a day" funding that is schedued to be cut-off at mid-2018</li>
                        <li>Supply copier</li>
                    </ul>
                </div>
            </div>
            <div class="row cls-submlocation3-row1">
                <div class="col span-1-of-3 cls-secondcol">
                    <p>Long-term projects in Reuben village</p>
                    <ul>
                        <li>Complete mission center building</li>
                        <li>Only basic structure completed with some constructure needed</li>
                        <li>Need to finish door, window, and so on</li>
                    </ul>
                </div>
                <div class="col span-1-of-3 cls-thirdcol">
                    <ul>
                        <li>Will be used for teacher living space</li>
                        <li>Will be used as a community center</li>
                    </ul>
                </div>
                <div class="col span-1-of-3">
                    <img src="/images/missionlocation/haiti/haiti-23-sqr.jpg" alt="haiti2" class="cls-haiti2">
                </div>
            </div>
            <div class="row cls-submlocation3-row2">
                <div class="col span-1-of-3 cls-secondcol">
                    <p>Long-term projects in JaBae village</p>
                    <ul>
                        <li>Current school is closed due to lack of funding</li>
                        <li>Need to re-open the school</li>
                        <li>Capability to house about 50 students that are some of whole kids in the village</li>
                    </ul>
                </div>
                <div class="col span-1-of-3">
                    <img src="/images/missionlocation/haiti/haiti-12-sqr.jpg" alt="haiti3" class="cls-haiti3">
                </div>
                <div class="col span-1-of-3 cls-thirdcol">
                    <ul>
                        <li>School supply and uniform</li>
                        <li>Need teacher living space and salary</li>
                        <li>Charter school type</li>
                    </ul>
                </div>
                
            </div>
            <div class="row cls-submlocation3-row3">
                <div class="col span-1-of-3">
                    <img src="/images/missionlocation/haiti/haiti-17-sqr.jpg" alt="haiti41" class="cls-haiti41">
                </div>
                <div class="col span-1-of-3">
                    <img src="/images/missionlocation/haiti/haiti-10-sqr.jpg" alt="haiti42" class="cls-haiti42">
                </div>
                <div class="col span-1-of-3">
                    <img src="/images/missionlocation/haiti/haiti-24-sqr.jpg" alt="haiti43" class="cls-haiti43">
                </div>
                
            </div>
        </section>
        
        <section class="section-mlocation-donate js--mlocation-donate">
            <div class="cls-mlocation-donate-btn-div0 js--mlocation-donate-btn">
                <div class="cls-mlocation-donate-btn-div1">
                    <h3>Your donation(s) can save and change a kid's life</h3>
                    <a class="btn cls-mlocation-donate-btn" href="https://www.youthempoweringnation.org/donate">DONATE</a>
<!--                    <input type="submit" value="DONATE" class="cls-mission-donate-btn">-->
                </div>
            </div>
        </section>

        <footer>
            <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><a href="https://www.youthempoweringnation.org/contactus">Contact Us</a></li>
                        <li><a href="https://www.youthempoweringnation.org/termsofuse">Terms of Use</a></li>
                        <li><a href="https://www.youthempoweringnation.org/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-links">
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                        <li><a href=""><i class="ion-social-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p>Copyright &copy; 2017 by Youth Empowering Nation. All Rights Reserved</p>
            </div>
        </footer>
    <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2/dist/jquery.min.js"></script>
    <script src="/javascripts/jquery.waypoints.min.js"></script>
    </body>
</html>
