<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/grid.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/queries-index.css">
<!--        <link rel="shortcut icon" href="./images/favicon/faveu-favicon.ico" type="image/x-icon">-->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton|Bungee" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="./javascripts/index.js"></script>
        <title>YEN</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <a href="https://www.youthempoweringnation.org"><img src="./images/logo/yen-logo.png" alt="yen logo" class="cls-logo"></a>
                    <ul class="main-nav js--main-div">
                      <li><a href="#id-about" class="cls-eachnav1">About</a></li>
                      <li><a href="#id-mission" class="cls-eachnav2">Mission</a></li>
                      <li><a href="#id-chapter" class="cls-eachnav3">Chapter</a></li>
                      <li><a href="#id-mlocation" class="cls-eachnav4">Mission Location</a></li>
                      <li><a href="https://www.youthempoweringnation.org/donate" class="cls-eachnav5">Donate</a></li>
                      <li class="cls-more"><i class="ion-android-more-vertical"></i></li>
                    </ul>
                    <ul class="main-nav11 js--main-div11" style="display: none;">
                      <li><a href="https://www.youthempoweringnation.org/team" class="cls-subnav1">TEAM</a></li>
                      <li><a href="https://www.youthempoweringnation.org/faq" class="cls-subnav2">FAQ</a></li>
                      <li><a href="https://www.youthempoweringnation.org/contact" class="cls-subnav2">Contact Us</a></li>
                    </ul>
                    <a class="mobile-nav-icon js--mobile-btn"><i class="ion-navicon-round"></i></a>
                </div>
                <div class="row cls-2row">
                    <ul class="main-nav1 js--main-div1" style="display: none;">
                      <li><a href="https://www.youthempoweringnation.org/team" class="cls-subnav1">TEAM</a></li>
                      <li><a href="https://www.youthempoweringnation.org/faq" class="cls-subnav2">FAQ</a></li>
                      <li><a href="https://www.youthempoweringnation.org/contact" class="cls-subnav2">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
            <div class="cls-maintext-box">
                <h1>HAND OUT TO HOLD THEIR HAND</h1>
            </div>
            <div class="cls-heart-div1">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart1"  style="display: none">
            </div>
            <div class="cls-heart-div2">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart2"  style="display: none">
            </div>
            <div class="cls-heart-div3">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart3"  style="display: none">
            </div>
            <div class="cls-heart-div4">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart4"  style="display: none">
            </div>
        </header>

        <section class="cls-section-about js--about" id="id-about">
            <div class="row cls-about">
                <h2>YEN</h2>
                <p class="cls-about-p">Love and Hope should flow into those in need to overflow</p>
            </div>

            <div class="row">
                <div class="col span-1-of-3 box">
                    <i class="ion-social-yahoo icon-big"></i>
                    <h3>YOUTH</h3>
                    <p>YEN focuses on rallying the youth of today. Instead of waiting for the adulthood, youth today can care for the things that are happening in societies around the world and can contribute to them.</p>
                </div>
                <div class="col span-1-of-3 box">
                    <i class="ion-android-sunny icon-big"></i>
                    <h3>EMPOWERING</h3>
                    <p>The best way to empower a generation is through education. Other relief works provides short term relief, but education can provide a future.</p>
                </div>
                <div class="col span-1-of-3 box">
                    <i class="ion-ios-world icon-big"></i>
                    <h3>Nation</h3>
                    <p>We live in a time where the world is connected more than ever before allowing youth to make a global impact. YEN wants to rally youth to contribute and empower the next generation in various nations.</p>
                </div>
            </div>
            <div class="cls-yen-video">
              <iframe width="560" height="320" src="https://www.youtube.com/embed/wkwfTQlTcG8" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="cls-section-about-btn">
                <a class="btn btn-ghost" href="https://www.youthempoweringnation.org/about">EXPLORE MORE</a>
            </div>

        </section>

        <section class="cls-section-mission" id="id-mission">
            <div class="row cls-mission">
                <h2>MISSION</h2>
                <p class="cls-mission-p">Give a man a fish and you feed him for a day. Teach a man to fish and you feed him for a lifetime</p>
            </div>

            <div class="row">
                <div class="col span-1-of-3 box">
                    <i class="ion-ios-cart icon-big"></i>
                    <h3>FOOD</h3>
                    <p>Children require a variety of nutrient-dense foods such as fresh fruits, vegetables, whole grains, meat, fish and adequate calories in order to grow and develop properly. It's crucial that child is consuming the essential nutrients she needs to grow. Lack of nutrition impacts her physical and mental growth in bad ways</p>
                </div>
                <div class="col span-1-of-3 box">
                    <i class="ion-ios-book icon-big"></i>
                    <h3>EDUCATION</h3>
                    <p>Education is a strong building block in building a stronger and healthier community. This starts by putting an emphasis on the importance of education in our children today. It is our obligation to help a child develop their identity and be a contributing factor to society.</p>
                </div>
                <div class="col span-1-of-3 box">
                    <i class="ion-person-stalker icon-big"></i>
                    <h3>FRIEND</h3>
                    <p>Friends also have a powerful influence on a child’s positive and negative school performance and may also help to encourage or discourage deviant behaviors. Compared to children who lack friends, children with ‘good’ friends have higher self-esteem, act more socially, can cope with life stresses and transitions, and are also less victimized by peers.</p>
                </div>
            </div>
            <div class="cls-section-mission-btn">
                <a class="btn btn-ghost" href="https://www.youthempoweringnation.org/mission">EXPLORE MORE</a>
            </div>

        </section>

        <section class="cls-section-chapter" id="id-chapter">
            <div class="row cls-chapter">
                <h2>CHAPTER</h2>
<!--                <i class="ion-social-facebook"> - FaceBook</i>-->
            </div>

            <div class="row">
                <div class="col span-1-of-4 box">
                    <a href="https://www.facebook.com/youthempoweringnation/" target="_blank" class="cls-school-icon"><i class="ion-ios-flower icon-big"></i></a>
                    <h3><a href="https://www.facebook.com/youthempoweringnation/" class="cls-school" target="_blank">FOOTHILL HIGH, CA</a></h3>
                    <!-- <p>President: Debora Shin</p> -->
                </div>
                <!-- <div class="col span-1-of-4 box">
                    <i class="ion-ios-flower-outline icon-big"></i>
                    <h3>FOOTHILL HIGH, CA</h3>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-ios-flower icon-big"></i>
                    <h3>JOHN HOPKINS JUNIOR HIGH, CA</h3>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-ios-flower-outline icon-big"></i>
                    <h3>IRVINGTON HIGH, CA</h3>
                </div> -->
            </div>

            <!-- <div class="row">
                <div class="col span-1-of-4 box">
                    <i class="ion-ios-flower-outline icon-big"></i>
                    <h3>MISSION SAN JOSE HIGH, CA</h3>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-android-sunny icon-big"></i>
                    <h3>FOOTHILL HIGH</h3>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-ios-world icon-big"></i>
                    <h3>SAB RAMON HIGH</h3>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-ios-world icon-big"></i>
                    <h3>IRVINGTON HIGH</h3>
                </div>
            </div> -->

        </section>

        <section class="cls-section-mlocation" id="id-mlocation">
            <div class="row cls-mlocation">
                <h2>MISSION LOCATION</h2>
            </div>

            <div class="row cls-mlocation-row0">
                <div class="col span-1-of-3 box">
                    <a href="https://www.youthempoweringnation.org/missionloc/haiti" class="cls-mislocation-icon"><i class="ion-ios-people icon-big"></i></a>
                    <a href="https://www.youthempoweringnation.org/missionloc/haiti" style="text-decoration:none"><h3>HAITI</h3></a>
                    <p>Officially, the Republic of Haiti (French: République d'Haïti; Haitian Creole: Repiblik d Ayiti) is a country on the Caribbean island of Hispaniola, which uses two official languages: French and Haitian Creole</p>
                </div>
                <div class="col span-1-of-3 box">
<!--                    <i class="ion-android-sunny icon-big"></i>-->
                    <h3></h3>
                    <p></p>
                </div>
                <div class="col span-1-of-3 box">
<!--                    <i class="ion-ios-world icon-big"></i>-->
                    <h3></h3>
                    <p></p>
                </div>
            </div>

        </section>

        <footer>
            <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><a href="https://www.youthempoweringnation.org/contact">Contact Us</a></li>
                        <li><a href="https://www.youthempoweringnation.org/termsofuse">Terms of Use</a></li>
                        <li><a href="https://www.youthempoweringnation.org/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-links">
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                        <li><a href=""><i class="ion-social-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p>Copyright &copy; 2017 by Youth Empowering Nation. All Rights Reserved</p>
            </div>
        </footer>
    <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2/dist/jquery.min.js"></script>
    <script src="./javascripts/jquery.waypoints.min.js"></script>
    </body>
</html>
