<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/grid.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/mission.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/queries-mission.css">
<!--        <link rel="shortcut icon" href="./images/favicon/faveu-favicon.ico" type="image/x-icon">-->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton|Bungee" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="./javascripts/mission.js"></script>
        <title>YEN</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <a href="https://www.youthempoweringnation.org"><img src="./images/logo/yen-logo.png" alt="yen logo" class="cls-logo"></a>
                    <ul class="main-nav js--main-div">
                      <li><a href="https://www.youthempoweringnation.org/about" class="cls-eachnav1">About</a></li>
                      <li><a href="https://www.youthempoweringnation.org/mission" class="cls-eachnav2">Mission</a></li>
                      <li><a href="https://www.youthempoweringnation.org/#id-chapter" class="cls-eachnav3">Chapter</a></li>
                      <li><a href="https://www.youthempoweringnation.org/#id-mlocation" class="cls-eachnav4">Mission Location</a></li>
                      <li><a href="https://www.youthempoweringnation.org/donate" class="cls-eachnav5">Donate</a></li>
                      <li class="cls-more"><i class="ion-android-more-vertical"></i></li>
                    </ul>
                    <ul class="main-nav11 js--main-div11" style="display: none;">
                      <li><a href="https://www.youthempoweringnation.org/team" class="cls-subnav1">TEAM</a></li>
                      <li><a href="https://www.youthempoweringnation.org/faq" class="cls-subnav2">FAQ</a></li>
                      <li><a href="https://www.youthempoweringnation.org/contact" class="cls-subnav2">Contact Us</a></li>
                    </ul>
                    <a class="mobile-nav-icon js--mobile-btn"><i class="ion-navicon-round"></i></a>
                </div>
                <div class="row cls-2row">
                    <ul class="main-nav1 js--main-div1" style="display: none;">
                      <li><a href="https://www.youthempoweringnation.org/team" class="cls-subnav1">TEAM</a></li>
                      <li><a href="https://www.youthempoweringnation.org/faq" class="cls-subnav2">FAQ</a></li>
                      <li><a href="https://www.youthempoweringnation.org/contact" class="cls-subnav2">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
            <div class="cls-maintext-box">
                <h1>HAND OUT TO HOLD THEIR HAND</h1>
            </div>
            <div class="cls-heart-div1">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart1"  style="display: none">
            </div>
            <div class="cls-heart-div2">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart2"  style="display: none">
            </div>
            <div class="cls-heart-div3">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart3"  style="display: none">
            </div>
            <div class="cls-heart-div4">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart4"  style="display: none">
            </div>
        </header>

        <section class="section-mission js--mission">
            <div class="row cls-mission-row">
                <h2>MISSION</h2>
                <p class="cls-mission-p">Give a man a fish and you feed him for a day. Teach a man to fish and you feed him for a lifetime</p>
            </div>
        </section>
        
        <section class="section-food js--food">
            <div class="row cls-food-row0">
                <h2>FOOD</h2>
                <p class="cls-food-p0">Every 3.6 seconds a person dies of hunger. 75% of them are children.</p>
                <p class="cls-food-p1">Giving children nutritionally dense food options is important for proper overall growth and development.</p>
            </div>
        </section>
        <section class="section-subfood js--subfood">
            <div class="row cls-subfood-row0">
                <div class="col span-1-of-2">
                    <img src="./images/mission/food-1.jpg" alt="food1" class="cls-food1">
                </div>
                <div class="col span-1-of-2 cls-secondcol">
<!--                    <p>Poor nutrition causes nearly half (45%) of deaths in children under five - 3.1 million children each year</p>-->
                    <ul>
                        <li>6.3 million children under age five died in 2013, nearly 17,000 every day</li>
                        <li>Approximately 3.1 million children die from hunger each year</li>
                        <li>Children who are poorly nourished suffer up to 160 days of illness each year</li>
                        <li>66 million primary school-age children attend classes hungry across the developing world</li>
                    </ul>
                    <p>from World Hunger & the Hunger Project</p>
                </div>
            </div>
            <div class="row cls-subfood-row1">
                <div class="col span-1-of-2">
                    <img src="./images/mission/food-2.jpg" alt="food2" class="cls-food2">
                </div>
                <div class="col span-1-of-2 cls-secondcol">
<!--                    <p>One out of six children -- roughly 100 million -- in developing countries is underweight</p>-->
                    <ul>
                        <li>Globally, 99 million under-five year olds were underweight in 2013</li>
                        <li>Nearly 1/2 of all deaths in children under 5 are attributable to undernutrition</li>
                        <li>One out of six infants is born with a low birth weight in developing countries</li>
                        <li>Nearly half of all deaths in children under 5 are attributable to under-nutrition</li>
                    </ul>
                    <p>from World Hunger & the Hunger Project</p>
                </div>
            </div>
            <div class="row cls-subfood-row2">
                <div class="col span-1-of-2">
                    <img src="./images/mission/food-3.jpg" alt="food3" class="cls-food3">
                </div>
                <div class="col span-1-of-2 cls-secondcol">
                    <p>US$3.2 billion is needed per year to reach all 66 million hungry school-age children</p>
                    <p>767 million people, or 1 in 10 people in the world, live under $1.90 a day</p>
                </div>
            </div>
        </section>
        
        <section class="section-education js--education">
            <div class="row cls-education-row0">
                <h2>EDUCATION</h2>
                <p class="cls-education-p0">One of the first steps in overcoming poverty is receiving an education.</p>
            </div>
        </section>
        <section class="section-subeducation js--subeducation">
            <div class="row cls-subeducation-row0">
                <div class="col span-1-of-2">
                    <img src="./images/mission/education-1.jpg" alt="education1" class="cls-education1">
                </div>
                <div class="col span-1-of-2 cls-secondcol">
                    <p>There are more than 124 million primary or secondary school-aged children who are not in school around the world</p>
                    <p>The reasons children do not attend school vary. Some children belong to families who cannot afford it, while others are too sick or too hungry to attend. All of these reasons trace back to poverty</p>
                </div>
            </div>
            <div class="row cls-subeducation-row1">
                <div class="col span-1-of-2">
                    <img src="./images/mission/education-2.jpg" alt="education2" class="cls-education2">
                </div>
                <div class="col span-1-of-2 cls-secondcol">
                    <p>Poverty decreases as more people have access to education. Investing in education leads to further development</p>
                </div>
            </div>
            <div class="row cls-subeducation-row2">
                <div class="col span-1-of-2">
                    <img src="./images/mission/education-3.jpg" alt="education3" class="cls-education3">
                </div>
                <div class="col span-1-of-2 cls-secondcol">
                    <p>$26 billion more each year would give every person a basic education, which is “less than five percent of what the U.S. military spent in 2015.”</p>
                    <p>The cost of providing 13 years of education for a child living in a developing country is around $1.18 a day</p>
                    <p>from borgenproject.org</p>
                </div>
            </div>
        </section>
        
        <section class="section-friend js--friend">
            <div class="row cls-friend-row0">
                <h2>FRIEND & MENTOR</h2>
                <p class="cls-friend-p0">We are all travelers in the wilderness of this world, and the best we can find in our travels is an honest friend.</p>
            </div>
        </section>
        <section class="section-subfriend js--subfriend">
            <div class="row cls-subfriend-row0">
                <div class="col span-1-of-2">
                    <img src="./images/mission/friend-1.jpg" alt="friend1" class="cls-friend1">
                </div>
                <div class="col span-1-of-2 cls-secondcol">
                    <p>No one in the world, understand our thinking, dreams and desires like friends do. Plus, the main reason of choosing to do friendship is to be with someone who understands and does not judge. Our friends generally have common ideology and opinions, hence it becomes easy for them to perceive</p>
                </div>
            </div>
            <div class="row cls-subfriend-row1">
                <div class="col span-1-of-2">
                    <img src="./images/mission/friend-2.jpg" alt="friend2" class="cls-friend2">
                </div>
                <div class="col span-1-of-2 cls-secondcol">
                    <p>A good friend is a considered true blessing of God. We all feel comfortable in the company of friends</p>
                </div>
            </div>
            <div class="row cls-subfriend-row2">
                <div class="col span-1-of-2">
                    <img src="./images/mission/friend-3.jpg" alt="friend3" class="cls-friend3">
                </div>
                <div class="col span-1-of-2 cls-secondcol">
                    <p>Young with a mentor is:</p>
                    <ul>
                        <li>55% more likely to enroll in college</li>
                        <li>78% more likely to volunteer regularly</li>
                        <li>90% are interested in becoming a mentor</li>
                        <li>130% more likely to hold leadership positions</li>
                    </ul>
                    <p>from mentoring.org</p>
                </div>
            </div>
        </section>
        
        <section class="section-mission-donate js--mission-donate">
            <div class="cls-mission-donate-btn-div0 js--mission-donate-btn">
                <div class="cls-mission-donate-btn-div1">
                    <h3>Your donation(s) can save and change a kid's life</h3>
                    <a class="btn cls-mission-donate-btn" href="https://www.youthempoweringnation.org/donate">DONATE</a>
<!--                    <input type="submit" value="DONATE" class="cls-mission-donate-btn">-->
                </div>
            </div>
        </section>

        <footer>
            <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><a href="https://www.youthempoweringnation.org/contact">Contact Us</a></li>
                        <li><a href="https://www.youthempoweringnation.org/termsofuse">Terms of Use</a></li>
                        <li><a href="https://www.youthempoweringnation.org/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-links">
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                        <li><a href=""><i class="ion-social-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p>Copyright &copy; 2017 by Youth Empowering Nation. All Rights Reserved</p>
            </div>
        </footer>
    <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2/dist/jquery.min.js"></script>
    <script src="./javascripts/jquery.waypoints.min.js"></script>
    </body>
</html>
