<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/grid.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/team.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/queries-team.css">
<!--        <link rel="shortcut icon" href="./images/favicon/faveu-favicon.ico" type="image/x-icon">-->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton|Bungee" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="./javascripts/team.js"></script>
        <title>YEN</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <a href="https://www.youthempoweringnation.org"><img src="./images/logo/yen-logo.png" alt="yen logo" class="cls-logo"></a>
                    <ul class="main-nav js--main-div">
                      <li><a href="https://www.youthempoweringnation.org/about" class="cls-eachnav1">About</a></li>
                      <li><a href="https://www.youthempoweringnation.org/mission" class="cls-eachnav2">Mission</a></li>
                      <li><a href="https://www.youthempoweringnation.org/#id-chapter" class="cls-eachnav3">Chapter</a></li>
                      <li><a href="https://www.youthempoweringnation.org/#id-mlocation" class="cls-eachnav4">Mission Location</a></li>
                      <li><a href="https://www.youthempoweringnation.org/donate" class="cls-eachnav5">Donate</a></li>
                      <li class="cls-more"><i class="ion-android-more-vertical"></i></li>
                    </ul>
                    <ul class="main-nav11 js--main-div11" style="display: none;">
                      <li><a href="https://www.youthempoweringnation.org/team" class="cls-subnav1">TEAM</a></li>
                      <li><a href="https://www.youthempoweringnation.org/faq" class="cls-subnav2">FAQ</a></li>
                      <li><a href="https://www.youthempoweringnation.org/contact" class="cls-subnav2">Contact Us</a></li>
                    </ul>
                    <a class="mobile-nav-icon js--mobile-btn"><i class="ion-navicon-round"></i></a>
                </div>
                <div class="row cls-2row">
                    <ul class="main-nav1 js--main-div1" style="display: none;">
                      <li><a href="https://www.youthempoweringnation.org/team" class="cls-subnav1">TEAM</a></li>
                      <li><a href="https://www.youthempoweringnation.org/faq" class="cls-subnav2">FAQ</a></li>
                      <li><a href="https://www.youthempoweringnation.org/contact" class="cls-subnav2">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
            <div class="cls-maintext-box">
                <h1>HAND OUT TO HOLD THEIR HAND</h1>
            </div>
            <div class="cls-heart-div1">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart1"  style="display: none">
            </div>
            <div class="cls-heart-div2">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart2"  style="display: none">
            </div>
            <div class="cls-heart-div3">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart3"  style="display: none">
            </div>
            <div class="cls-heart-div4">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart4"  style="display: none">
            </div>
        </header>

        <section class="section-team js--team">
            <div class="row">
                <h2>THE TEAM</h2>
            </div>
        </section>
        <section class="section-team1 js--team1">
            <div class="row cls-team1-row0">
                <h3>NLC Youth</h3>
                <p>Founder and Strong Involvers</p>
            </div>
            <div class="row cls-team1-row1">
                <div class="col span-1-of-3 cls-firstimg" align="center">
                    <img src="./images/team/team-youth1-sqr1.jpg" alt="youth1" class="cls-youth1">
                    <!-- <p class="cls-youthstudent">Claire Bae</p> -->
                </div>
                <div class="col span-1-of-3 cls-secondimg" align="center">
                    <img src="./images/team/team-youth2-sqr1.jpg" alt="youth2" class="cls-youth2">
                </div>
                <div class="col span-1-of-3 cls-thirdimg" align="center">
                    <img src="./images/team/team-youth3-sqr1.jpg" alt="youth3" class="cls-youth3">
                    <!-- <p class="cls-youthstudent">Tammy Shin</p> -->
                </div>
            </div>
        </section>
        <section class="section-team2 js--team2">
            <div class="row cls-team2-row0">
                <div class="col span-1-of-3 cls-firstimg">
                    <img src="./images/team/team-staff1.jpg" alt="staff11" class="cls-staff11">
                    <p class="cls-staffname">Lois Wee</p>
                    <p>President of YEN</p>
                </div>
                <div class="col span-1-of-3 cls-secondimg">
                    <img src="./images/team/howard-jin.jpg" alt="staff12" class="cls-staff12">
                    <p class="cls-staffname">Howard Jin</p>
                    <p>Secretary of YEN</p>
                </div>
                <div class="col span-1-of-3 cls-thirdimg">
                    <img src="./images/team/andrew-shin.jpg" alt="staff13" class="cls-staff13">
                    <p class="cls-staffname">Andrew Shin</p>
                    <p>Legal Consultant</p>
                </div>
            </div>
        </section>
        <section class="section-team3 js--team3">
            <div class="row cls-team3-row0">
                <div class="col span-1-of-3 cls-firstimg">
                    <img src="./images/team/joanne-shin.jpg" alt="staff21" class="cls-staff21">
                    <p class="cls-staffname">Joanne Shin</p>
                    <p>Event Coordinator and Fund Recruiter</p>
                </div>
                <div class="col span-1-of-3 cls-secondimg">
                    <img src="./images/team/joanne-jin.jpg" alt="staff22" class="cls-staff22">
                    <p class="cls-staffname">Joanne Jin</p>
                    <p>Fund Coordinator</p>
                </div>
                <div class="col span-1-of-3 cls-thirdimg">
                    <img src="./images/team/seung-chang.jpg" alt="staff23" class="cls-staff23">
                    <p class="cls-staffname">Seung Chang</p>
                    <p>Staff Coordinator</p>
                </div>
            </div>
        </section>
        <section class="section-team4 js--team4">
            <div class="row cls-team4-row0">
                <div class="col span-1-of-3 cls-firstimg">
                    <img src="./images/team/daesik.jpg" alt="staff31" class="cls-staff31">
                    <p class="cls-staffname">DaeSik Kim</p>
                    <p>Accountant</p>
                </div>
                <div class="col span-1-of-3 cls-secondimg">
                    <img src="./images/team/rachel.jpg" alt="staff32" class="cls-staff32">
                    <p class="cls-staffname">Rachel Ha</p>
                    <p>Youth Program & Project Advisor</p>
                </div>
                <div class="col span-1-of-3 cls-thirdimg">
                    <img src="./images/team/jacob.jpg" alt="staff33" class="cls-staff33">
                    <p class="cls-staffname">Jacob Kim</p>
                    <p>Strategy Planner</p>
                </div>
            </div>
        </section>
        
        <section class="section-team5 js--team5">
            <div class="row cls-team5-row0">
                <div class="col span-1-of-3 cls-firstimg">
                    <img src="./images/team/soo.png" alt="staff41" class="cls-staff41">
                    <p class="cls-staffname">Soo Lee</p>
                    <p>Technical Support</p>
                </div>
<!--
                <div class="col span-1-of-3 cls-secondimg">
                    <img src="./images/team/soo.png" alt="staff32" class="cls-staff32">
                    <p class="cls-staffname">Soo Lee</p>
                    <p>Technical Support</p>
                </div>
                <div class="col span-1-of-3 cls-thirdimg">
                    <img src="./images/team/team-staff.png" alt="haiti11" class="cls-haiti11">
                    <p class="cls-staffname">SeungEun Chang</p>
                    <p>Staff Coordinator</p>
                </div>
-->
            </div>
        </section>


        <footer>
            <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><a href="https://www.youthempoweringnation.org/contact">Contact Us</a></li>
                        <li><a href="https://www.youthempoweringnation.org/termsofuse">Terms of Use</a></li>
                        <li><a href="https://www.youthempoweringnation.org/privacy-policy">Privacy Policy</a></li>
                        <li><a href="https://www.youthempoweringnation.org/recipients/login">Admin</a></li>
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-links">
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                        <li><a href=""><i class="ion-social-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p>Copyright &copy; 2017 by Youth Empowering Nation. All Rights Reserved</p>
            </div>
        </footer>
    <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2/dist/jquery.min.js"></script>
    <script src="./javascripts/jquery.waypoints.min.js"></script>
    </body>
</html>
